@import url("normalize.css");

:root {
	--primary: #009edd;
	--success: #039b00;
	--background: #2f2e41;
	--gray: #999;
	--white: #fff;
	--black: #111;
}

html {
	font-family: "Opens Sans", Arial, Helvetica, sans-serif;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	background-color: var(--background);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fadeGrow {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
